

:root{
background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-position: center;
background-size: cover;
height: 100vh;
font-weight: 100;
}

.bgg{
background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.css-16eleia-control{
border: 2px solid #555 !important;
}
.css-16eleia-control:hover{
border: 2px solid #555 !important;
}

.css-1jqq78o-placeholder{
color: #fff !important;
} 





.css-1xc3v61-indicatorContainer{
color: #fff !important;
}

.css-tj5bde-Svg{
color: #ffffff !important;
font-size: 1px;

}

.css-1ubvmxz-control:hover{
border: 2px solid #555 !important;
}